/* Color Guide */
/* 
Main coral: #ff887b
Light coral (nav bar): #ff9185
Body text, button inset/border: #5a5a5a
Light gray border: rgba(144, 144, 144, 0.25)
Tab background: rgba(144, 144, 144, 0.075)
Border on top of coral background: rgba(255, 255, 255, 0.25)
White button inset/border, color for quotes icon: rgba(255, 255, 255, 0.75)
Dark gray background for slideout nav: #3b3b3b
*/

/* ===== GLOBAL STYLES ===== */
* {
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.75;
    color: #5a5a5a;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #333;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.inner {
    max-width: 1200px;
    margin: 0 auto;
}

/* ===== HEADER ===== */
.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: #ff9185;
    /* margin-top: 2em; */
    padding: 1em 1.5em;
    width: 100%;
}
.nav h2 span {
    font-size: 2em;
}
.nav h2 {
    color: #fff;
    margin-left: 1em;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}
.nav ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 2em;
}
.nav ul li {
    padding: 0.5em;
    font-size: 1.1em;
}
.nav ul li a {
    color: #fff;
    padding: 1em;
}
.nav ul li ul {
    display: none;
}
.navbarbutton {
    display: none;
}

/* ===== BANNER ===== */
.banner {
    background-image: url('../img/pic01.jpg');
    background-size: cover;
    background-position: left;
    border-top: solid 10px #ff887b;
    padding: 10em 0 6em 0;
}
.banner .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45em;
}
.banner .inner * {
    margin-bottom: 0.25em;
    color: #fff;
}
.banner .inner h1 {
    font-size: 3.25em;
    margin: 1em 0;
}
.banner .inner ul {
    border-top: solid 1px rgba(255, 255, 255, 0.25);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .inner ul li {
    box-sizing: border-box;
    width: 15em;
    border: solid 1px rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    text-align: center;
    padding: 0.5em;
    margin-top: 4em;
    margin-bottom: 6em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1em;
}
.banner .icon {
    width: 2.15em;
    font-size: 3em;
    text-align: center;
    background-color: #fff;
    line-height: 2.10em;
    border-radius: 100%;
    color: #ff887b;
}

/* ===== FEATURES ===== */
.one {
    padding: 7em;
}
.one .inner .split {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.one .split img {
    margin-right: 3em;
    border-radius: 5px;
}
.one section h2 {
    font-size: 1.75em;
    margin-left: 2.5em;
}
.one .features {
    display: flex;
    flex-flow: row wrap;
    margin-top: 3em;
}
.one .features article {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    padding: 2em;
    border: solid 1px #fff;
}
.one .features article:nth-of-type(1) {
    border-right-color: rgba(144, 144, 144, 0.25);
    border-bottom-color: rgba(144, 144, 144, 0.25);
}
.one .features article:nth-of-type(2) {
    border-bottom-color: rgba(144, 144, 144, 0.25);
}
.one .features article:nth-of-type(3) {
    border-right-color: rgba(144, 144, 144, 0.25);
}
.one .features .icon {
    margin: 0.5em 1em;
    font-size: 2em;
}
.one .features .icon, .one .features h3 {
    color: #ff887b;
    font-weight: 400;
}
.one .features .icon p {
    color: #5a5a5a;
}

/* ===== STATS ===== */
.two {
    background: #ff887b;
    padding: 7em;
}
.two .stats {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.two .stats article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 0 4em;
    border-right: solid 1px rgba(255, 255, 255, 0.25);
}
.two .stats article:nth-of-type(4) {
    border-right: none;
}
.two .stats article h3 {
    color: #fff;
    font-size: 4em;
}
.two .stats article h4 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 2em;
}
.two .stats article p {
    font-size: 1.1em;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
}

/* ===== TABS ===== */


/* ===== QUOTES ===== */
.four {
    display: flex;
    flex-flow: row nowrap;
    height: 40em;
}
.four article {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.four article:nth-of-type(1) {
    background: url('../img/pic03.jpg');
    background-position: center center;
    background-size: cover;
    padding: 1em 1em 1em 3em;
}
.four article:nth-of-type(2) {
    background: url('../img/pic04.jpg');
    background-position: left center;
    background-size: cover;
}
.four article .icon {
    color: rgba(255, 255, 255, 0.75);
    font-size: 2.2em;
    background: #ff887b;
    border-radius: 100%;
    padding: 0.75em;
    margin-bottom: 1em;
}
.four article h2 {
    color: #fff;
    font-size: 2em;
    width: 60%;
    text-align: center;
}
.four article .name {
    color: #ff887b;
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
    margin: 1.5em 0 1em 0;
}
.four article .title {
    color: #fff;
    text-align: center;
    font-size: 1.25em;
}
/*===== tabs =====*/

/*===== Footer =====*/

.footer {
    color: rgba(255, 255, 255, 0.75);
    background: #ff887b;
    padding: 7.5em 0 5.5em 0;
    margin: 0;
    border: 0;
    font:inherit;
    vertical-align: baseline;
}
.footer a {
    color: #ffffff;
}


.footer .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
    color: #ffffff !important;
   }
   .footer .button:hover {
    background-color: rgba(255, 255, 255, 0.075);
   }
   .footer .button:active {
    background-color: rgba(255, 255, 255, 0.2);
   }
   .footer ul.contact-icons li :before {
    color: #ffffff;
   }
   
   .footer > .inner {
    margin: 0 auto;
    width: 80em;
    max-width: calc(100% - 6em);
   }
   .footer .contact {
    margin-right: 1.5em;
   }
   
   .footer .copyright {
    border-top: solid 1px rgba(255, 255, 255, 0.25);
    font-size: 0.9em;
    margin-top: 4em;
    padding-top: 4em;
    text-align: center;
    width: 100%;
   }
   label {
    cursor: default;
  }
  .split {
      align-items: flex-start;
      display: flex;
      margin: -63m;
      margin-bottom: 2em;

  }

  .split > :nth-child(2n-1) {
    width: 33%;
}
/*====== Icons =====*/
ul.contact-icons {
    list-style-type: none;
    padding: 0;
}
ul.contact-icons li {
    margin-bottom: 1.5em;
    min-height: 2.4em;
    padding-left: 2.25em;
}
.footer ul.contact-icons li::before {
    color: #ffffff;
}
ul.contact-icons li a {
    text-decoration: none;
}
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}
ul.icons-bordered {
    list-style: none;
    margin-left: -1em;
    margin-top: -1em;
    padding-left: 0;
   }
   ul.icons-bordered li:last-child {
    padding-right: 0;
   }
   ul.icons-bordered li {
    display: inline-block;
    padding: 1em 0 0 1em;
   }
   ul.icons-bordered li:last-child {
    padding-right: 0;
   }
   ul.icons-bordered li .icon {
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 1.25em;
    height: 2.25em;
    line-height: 2.25em;
    text-align: center;
    width: 2.25em;
   }
   ul.icons-bordered .icon {
    border-color: #5a5a5a;
   }
   ul.icons-bordered .icon :hover {
    background-color: rgba(144, 144, 144, 0.075);
   }
   ul.icons-bordered .icon:active {
    background-color: rgba(144, 144, 144, 0.2);
   }
   ul.contact-icons {
    list-style-type: none;
    padding: 0;
   }
   ul.contact-icons li {
    margin-bottom: 1.5em;
    min-height: 2.4em;
    padding-left: 2.25em;
   }
   ul.contact-icons li:before {
    font-size: 1.25em;
    left: 0;
    line-height: inherit;
    position: absolute;
    top: -0.1em;
    color: #333333;
   }
   ul.actions:not(.fixed) li input[type="submit"].icon:before,
   ul.actions:not(.fixed) li input[type="reset"].icon:before,
   ul.actions:not(.fixed) li input[type="button"].icon:before,
   ul.actions:not(.fixed) li button.icon:before,
   ul.actions:not(.fixed) li .button.icon:before {
    margin-left: -0.5em;
   }
   

  
  
   /*===== Form =====*/

   form {
       padding: 0;
       border: 0;
       font: inherit;
       vertical-align: baseline;

   }
   form > .fields {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 3em);
    margin: -1.5em 0 2em -1.5em;
   }
   form > .fields > .field {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    padding: 1.5em 0 0 1.5em;
    width: calc(100% - 1.5em);
   }
   form > .fields > .field.half {
    width: calc(50% - 0.75em);
   }
   form > .fields > .field.third {
    width: calc(100%/3 - 0.5em);
   }
   form > .fields > .field.quarter {
    width: calc(25% - 0.375em);
   }
   form > .fields > .field {
    padding: 1.5em 0 0 1.5em;
    width: calc(100% - 1.5em);
   }
   form > .fields > .field.half {
    width: calc(100% - 1.5em);
   }
   .footer textarea {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.25);
    color: #ffffff;
   }
   textarea {
    padding: 0.75em 1em;
    resize: vertical;
    font-size: 11pt;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 300;
        line-height: 1.75;
        border-radius: 4px;
border: solid 1px;
display: block;
outline: 0;
text-decoration: none;
width: 100%;

    
}
.button {
    -webkit-appearance: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 400;
    height: 3.5em;
    letter-spacing: 0.05em;
    line-height: 3.5em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
.footer .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
    color: #ffffff !important;
}
.footer input[type="text"],
.footer input[type="password"],
.footer input[type="email"],
.footer select,
.footer textarea {
 background-color: transparent;
 border-color: rgba(255, 255, 255, 0.25);
}
.footer input, #footer select, #footer textarea {
    color: #ffffff;
}
.footer input {
    color: #ffffff;
}
input {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.75;
} 

.footer h2 {
    color: #ffffff;
    font-size: 2em;
    line-height: 1.5;
letter-spacing: 0.04em;
margin: 0 0 1.5em 0;

}
*, ::before, ::after {
    box-sizing: inherit;
}
input[type="email"] {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.25);
    height: 3.5em;
}
input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
 -moz-appearance: none;
 -webkit-appearance: none;
 -ms-appearance: none;
 appearance: none;
 border-radius: 4px;
 border: solid 1px;
 color: inherit;
 display: block;
 outline: 0;
 padding: 0 1em;
 text-decoration: none;
 width: 100%;
}




